.difficultyChosen{
    background-color: green;
    margin: 2% 13%;

}

/* option{
    border-radius: 10px;
    width: 20%;
    height: 50px;
    font-size: large;
} */

select, option{
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 20px;
    color: white;
    background-color:indigo;
}